<section class="main_content">
  <%= form_with(url: "/menus/#{@menu.id}", method: "put",local:true) do %>
  <div class="edit_block">
      <div class="edit_input_block">
        <label class="edit_name">Menu Name:</label>
        <input type="text" class=" edit_name_price" value="<%= @menu.name %>">
      </div>
      <div class="edit_submit_block">
        <input type="submit" class="update_button" value="Update Menu" data-disable-with="Updating ...">
      <div>
  </div>
  <% end %>
</section>
