<form class="Add_menu" action="/menus" method="POST">
        <input class="menu_name" type="text" name="name" size="20" placeholder="Enter name of menu">
        <input class="menu_category" type="text" name="category" size="10" placeholder="Category">
        <input class="submit" type="submit" value="Add menu">
</form>
