<div class="main_content logged_in_background">
  <p class="title_of_page"> Manage Menus </p>
  <div class="manage_menu_block">
    <% if Menu.active.count >0 %>
      <table class="manage_menus">
        <caption class="manage_menus_title"> Active Menus </caption>
        <% Menu.active.each do |menu| %>
          <%= render partial:"menus-manage",locals:{
              menu: menu,
              status_bar: "active_button"
              }
          %>
        <% end %>
      </table>
    <% end %>
    <% if Menu.inactive.count >0 %>
      <table class="manage_menus">
        <caption class="manage_menus_title"> Inactive Menus </caption>
        <% Menu.inactive.each do |menu| %>
          <%= render partial:"menus-manage",locals:{
              menu: menu,
              status_bar: "inactive_button"
              }
          %>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
