<div class="main_content">
  <p class="title_of_page"> Make an Order </p>
  <main class="Main_page">
    <% Menu.active.each do |menu| %>
      <% if menu.menuitems.active.count >0 %>
        <%= render partial:"menu-section",locals:{
            menu_title:menu.name,
            menuitems:Menuitem.all.where(menu_id:menu.id),
            show_delete_btn: false,
            current_user: @current_user,
            display_cart: true
        } %>
      <% end %>
    <% end %>
  </main>
</div>
