<div style="font-size:14px;
  color:#453C52;
  line-height:1.4;
  display:flex;
  align-items:center;
  width:700px;
  margin:auto;">
  <div>Your Feedback:</div>
  <div><%= @contact.message %>
</div>

<p style="font-size:14px;
  color:#453C52;
  line-height:1.4;
  width:700px;
  margin:auto;">Thank you sor sending the feedback.Hope you are comfortable with us.</p>
