<h2>Welcome to Cafeteria!</h2>
<p>Hi <%= @user.first_name.concat(" #{@user.last_name}") %>,</p>
<br>
<p>User Name: <%= @user.first_name.concat(" #{@user.last_name}") %></p>
<p>Email Id: <%= @user.email %></p>
<p>Contact Details: <%= @user.contact_number%></p>
<br>
<p>Thank you for choosing Cafeteria to have great dishes.Your registration is successfully completed</p>
<p>Thank you for registration.</p>
<br>
<p>Click here to Order</p>
