<main class="cart_display">
  <table>
      <caption>
          <p class="cart_heading"> Incart </p>
      </caption>
      <% orderitems.all.each do |orderitem| %>
      <tr>
        <td>
          <%= orderitem.menuitem_name %>
        </td>
        <td>
          <%= orderitem.menuitem_price %>
        </td>
        <td>
          <%= form_with(url: "/orderitems/#{orderitem.id}",method: "delete") do %>
            <input type="submit" value="Remove">
          <% end %>
        </td>
      </tr>
      <% end %>
  </table>
  <%= form_with(url: "/orders", method: "post",local:true) do %>
    <input type="submit" value="Confirm Order">
  <% end %>
</main>
