<main class="cart_display">
  <table class="cart_table">
      <caption class="cart_heading">
          <p > Items in your cart </p>
      </caption>
      <% orderitems.all.each do |orderitem| %>
      <tr class="cart_row">
        <td class="cart_item_data">
          <%= orderitem.menuitem_name %>
        </td>
        <td class="cart_item_data">
          <p>Price :<%= orderitem.menuitem_price %>/-</p>
        </td>
        <td class="cart_item_data">
          <%= form_with(url: "/orderitems/#{orderitem.id}",method: "delete",local:true) do %>
            <input type="submit" class="Remove_cartitem" value="Remove">
          <% end %>
        </td>
      </tr>
      <% end %>
  </table>
  <hr width=50%>
  <%= form_with(url: "/orders/#{orderid}", method: "put", local:true) do %>
    <input type="hidden" name="status" value="ordered">
    <input type="submit" class="Confirm_order" value="Confirm Order">
  <% end %>
  <form action="/menus" method="get">
    <input class="back_to_menu cart" type="submit" value="Back to menu">
  </form>
</main>
