<div class="Home_creation_line">
  <img src="Logo.png" class="logo home_page">
  <div class="home-header">
    <p class="Home_menu"><%= link_to "Home", root_path,class:"links home_link" %>
    <p class="Home_menu"><%= link_to "About Us", about_us_path,class:"links home_link" %>
    <p class="Home_menu" ><%= link_to "Create Account", new_customer_path,class:"links home_link" %></p>
    <p class="Home_menu" ><%= link_to "Sign in",new_sessions_path,class:"links home_link" %></p>
  </div>
</div>
