<div class="privacy_policy_background">
  <h1 class="privacy_policy_title">Privacy Policy</h1>
  <div class="privacy_policy">
    <p class="privacy_policy_content">

    </p>
    <p class="privacy_policy_content">

    </p>
  </div>
</div>
