<%= form_with(url: "/menuitems/#{@menuitem.id}", method: "put") do %>
  <div class="edit_line_row">
    <input type="text" name="name" class="edit_name_price" size="15" value="<%= @menuitem.name %>">
    <input type="text" name="price" class="edit_name_price" size="5" value="<%= @menuitem.price %>">
    <input type="text" name="url" class="edit_name_price" size="15" value="<%= @menuitem.url %>">
    <input type="submit" class="update_button" value="Update item">
  </div>
<% end %>
