<div class="main_content logged_in_background">
  <p class="title_of_page"> Sales Based On Products </p>
  <%= form_with(url: "/showmenuitems", method: "get",local:true) do %>
    <div class="search_records_menuitems">
      <label class="label_to_records_menuitems from">
        From Date:
      </label>
        <input class="from_to_button" type="date" name="initial_date">
      <label class="label_to_records_menuitems to">
        To Date:
      </label>
      <input class="from_to_button" type="date" name="final_date">
      <input class="search_button" type="submit" value="Search" data-disable-with="Searching ...">
    </div>
  <% end %>
  <div class="sales_page">
    <div class="display_dates">From Date :
      <p class="display_ini_fin_dates"><%= @initial_date %></p>
    </div>
    <div class="display_dates">To Date :
      <p class="display_ini_fin_dates"><%= @final_date %></p>
    </div>
    <% if @orders.delivered.count == 0 %>
      <div class="emptysales_block">
        <img src="nodelivery.jpeg" class="delivery_image">
        <p class="myorders_message message_myorders">
          No sales in respective dates
        </p>
      </div>
    <% else %>
      <%= render partial:"show-menuitemslist",locals: {
          orders_list:@orders.delivered
        }
      %>
    <% end %>
  </div>
</div>
