<div class="main_content logged_in_background">
  <p class="flash-error-forgot"><%= flash[:error_fill] %></p>
  <div class="forgot_password_block">
    <%= form_with(url: check_details_path,method: "get",local:true ) do %>
      <input type="text" class="mail_block" name="email" placeholder="Enter Email -id ...">
      <input type="text" class="contact_block" name="contact_number" placeholder="Contact Number ...">
      <input type="submit" class="confirm_btn" value="Confirm Details">
    <% end %>
  </div>
</div>
