<section class="users_display_page">
  <table class="display_users_to_owner">
    <%= render partial:"customer-section",locals:{
      user_title: "Clerk",
      customers: Customer.clerk,
      cust_value: "Customer",
      button_value: "Remove as Clerk"
      } %>
  </table>
  <table class="display_users_to_owner">
    <%= render partial:"customer-section",locals:{
      user_title: "Customer",
      customers: Customer.customer,
      cust_value: "Clerk",
      button_value: "Mark as Clerk"
      } %>
  </table>
  <form action="/menus" method="get">
    <input class="back_to_menu" type="submit" value="Back to menu">
  </form>
</section>
