<div class="main_content logged_in_background">
  <p class="flash-error-changepassword"><%= flash[:error] %></p>
  <p class="title_of_page"> Change Password </p>
  <div class="update_password_block">
    <%= form_with(url: update_password_path, method: "get", local:true) do %>
      <input type="hidden" name="id" value="<%= @customer.id %>">
      <input type="text" class="password_block" name="otp" placeholder="Enter OTP ....">
      <input type="password" class="password_block" name="set_password" placeholder="Set Password ....">
      <input type="password" class="password_block" name="confirm_password" placeholder="Confirm Password ....">
      <input type="submit" class="change_btn" value="Change Password">
    <% end %>
  </div>
</div>
