<table>
  <% Orderitem.find_by_id(@orderid).all.each do |orderitem| %>
    <tr>
      <td>
        <p class="show_order_details">
          <%= orderitem.menuitem_name %>
          <%= orderitem.menuitem_price %>
        </p>
      </td>
    </tr>
  <% end %>
</table>
