<table class="Show_order_table">
  <% Orderitem.find_by_id(@orderid).all.each do |orderitem| %>
    <tr>
      <td width="150px">
        <p class="show_order_details">
          <%= orderitem.menuitem_name %>
        </p>
      </td>
      <td>
        <p class="show_order_details">
          Price:<%= orderitem.menuitem_price %>/-
        </p>
      </td>
    </tr>
  <% end %>
</table>
