.Home_page_menu{
  width:100%;
  height: auto;
  margin:20px;
  margin-left: 20px;
}

.Home_creation_line{
  display:flex;
  align-items:center;
  justify-content: right;
  margin-right:100px;
}

.Home_menu{
  font-size:14px;
  margin-top:20px;
  padding:5px 8px;
  border:3px solid transparent;
  cursor: pointer;
  background-color:black;
  color:#DAAD86;
  border-radius:8px;
}

.Home_menu:hover{
  background-color:lightcyan;
}

.home_link{
  color:#DAAD86;
  font-weight:600;
}

.home_link:hover{
  color:black;
}

.heading{
  font-size:18px;
  text-align: center;
  font-weight:600;
  padding:5px 10px;
  width:350px;
  margin:auto;
  margin-top:35px;
  border-radius:15px;
  background:linear-gradient(to top,#8EE4AF,grey);
}

.content{
  margin-top:150px;
}

.heading:hover{
  text-decoration: underline;
}

.create{
  margin-right:20px;
}

.Customer_heading{
  max-width: 800px;
  margin:0 auto;
  margin-top:30px;
  padding:10px;
  background:linear-gradient(rgba(140,140,190,0.5),lightgray);
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.signout_heading{
  font-size:14px;
  transition: 0.5s;
}

.signout_heading:hover{
  transform: scale(1.1);
}

.links{
  margin:5px;
  text-decoration:none;
}

.links:hover{
  text-decoration:underline;
}

.email_input{
  font-size:14px;
  padding:2px;
  margin-left:20px;
  padding-left:30px;
}

.Form-search{
  font-size:14px;
  width:150px;
  background-color:limegreen;
  color:white;
  border:1px solid transparent;
  border-radius:8px;
  padding:5px 10px;
  margin-left:20px;
}

.Form-search:hover{
  background-color:cyan;
  color:purple;
}

.form-search-clear{
  width:800px;
  margin:auto;
  height:40px;
  display:flex;
  align-items:center;
}

.Form-menuitem-input{
  font-size:14px;
  padding:2px;
  padding-left:10px;
  margin-left:100px;
}

.menu_search_place{
  margin-left:150px;
}
.Form_search_block{
  display:flex;
  align-items:center;
}
