.main_content{
  min-height:calc(100vh - 200px);
  width:100%;
}

.manage_menu_block{
  display:flex;
  align-items:flex-start;
  padding-bottom:100px;
}

.edit_menus:hover{
  text-decoration:underline;
}

.manage_menus{
  width:500px;
  margin:0 auto;
  background-color:lavender;
}

.manage_menus_row{
  height:auto;
}

.manage_menus_data{
  text-align:left;
  padding:10px;
  vertical-align:middle;
  line-height:20px;
}

.manage_menus_title{
  color:salmon;
  font-weight:bolder;
  font-weight:18px;
  text-decoration:underline;
  margin:30px;
}

.active_button,.inactive_button{
  font-weight:600;
  text-align:center;
  width:80px;
  padding:5px 10px;
  border:1px solid grey;
  border-radius:8px;
}

.active_button{
  background-color:limegreen;
  color:white;
}

.inactive_button{
  background-color:#DC4348;
  color:white;
}

.address_label_block{
  margin-left:250px;
  margin-top:20px;
  display:block;
}

.address_block{
  margin-top:10px;
  padding:30px;
  border-radius:10px;
  border:1px solid grey;
}

.address_label{
  display:flex;
  align-items:center;
  color:#DC4348;
  font-size:16px;
  margin-top:30px;
  font-weight:600;
}

.address{
  color:#DAAD86;
  font-weight:600;
  margin:20px;
  margin-left:40px;
  font-size:14px;
}
.address_heading{
  font-size:20px;
  margin-bottom:10px;
}

.address_content{
  font-size:16px;
  line-height:1.4;
}

.Main_page{
  width:100%;
  margin:0 auto;
  font-family:sans-serif;
}

.Add_menu{
  margin-top:20px;
  margin-bottom:15px;
  padding:8px;
  background-color:#FF8D27;
  display:flex;
  align-items:center;
  font-weight:bold;
  justify-content:center;
}

.Menu_display{
  padding:5px;
}

.partial-menu-section{
  display:block;
  height:auto;
  width:700px;
  margin:auto;
}

.partial-menu-section-cart{
  display:block;
  height:auto;
  width:700px;
  margin-left:50px;
}

.menu_section_display{
  margin:auto;
}

.Menu_column{
  padding:5px;
}

.Menu_heading{
  margin-bottom:20px;
  margin-top:10px;
  padding:5px;
}

.Menu_heading{
  color:blueviolet;
  text-decoration:underline;
  padding:5px;
}

.title{
  background-color:black;
  color:white;
  font-weight:600;
  font-size:16px;
  margin:15px;
  width:180px;
  margin-top:30px;
  margin-bottom:20px;
  margin-left:300px;
  margin-right:50px;
  text-align:center;
  padding:5px;
  border:1px solid transparent;
  border-radius:8px;
  transition: 0.5s;
}

.title:hover{
  transform: scale(1.1);
}

.item{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left:20px;
  margin-right:10px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.price{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:10px;
  margin-left:10px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.submit{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#5CDB95;
  border: 1px solid transparent;
  border-radius: 8px;
  color:white;
  font-weight:600;
}

.submit:hover{
  background-color:black;
}

.display_price,.display_quantity{
  margin:20px;
  width:140px;
  margin-left:40px;
}

.display_price{
  display:flex;
  align-items:center;
  font-size:18px;
}

.price_value{
  font-size:16px;
  color:#ED553B;
  font-weight:bold;
  padding:5px;
  padding-right:2px;
}

.display_quantity{
  display:flex;
  align-items:center;
  width:180px;
}

.number_in_cart{
  margin-left:5px;
  width:50px;
}

.title_and_delete{
  display:flex;
  align-items:center;
  width:700px;
  margin:auto;
}

.edit_icon{
  padding:10px;
  margin-right:5px;
}

.edit_menu{
  border:0px solid transparent;
  display:flex;
  align-items:center;
  text-align:center;
  color:navy;
  font-size:18px;
  background-color:lavender;
  padding:10px;
}

.title_and_delete:hover > .menu_delete{
  background-color:lightgray;
  color:red;
  visibility:visible;
}

.Menu_name{
  text-align:center;
  color:#3D553B;
  font-size:16px;
  margin:20px;
  margin-left:100px;
  margin-right:30px;
  padding:5px 8px;
  font-weight:bold;
  border-radius:8px;
  border:1px solid transparent;
}

.item_count{
  width:50px;
  padding-left:20px;
  margin-right:20px;
  cursor: pointer;
}

.Add_menu_block{
  margin:15px;
  justify-content:space-around;
}

.Adding_menus{
  width:100%;
  margin:0 auto;
  padding:5px;
  background-color:#FF8D27;
  max-height:160px;
}

.add_menu{
  margin-bottom:10px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding:5px;
  border-radius:8px;
  width:100px;
  margin:auto;
}

.add_menu_input{
  display:flex;
  align-items:center;
  padding:10px;
  width:350px;
  margin:auto;
}

.menu_submit{
  margin-left:110px;
}

.menu_label{
  margin-right:10px;
  font-size: 14px;
  font-weight:bold;
}

.sales_page{
  height:auto;
  margin-top:30px;
  padding-bottom:100px;
}

.menu_box{
  font-size:13px;
  padding:8px 10px;
  border:1px solid grey;
  border-radius:5px;
}

.bars_display{
  color:white;
  height:30px;
  margin-left:60px;
}

.logo{
  max-height:95px;
  width:95px;
  border-radius:50%;
  margin-left:-40px;
  padding:10px;
}

.home_page{
  padding:15px;
  height:200px;
  margin:30px;
}

.cart_menu_block{
  display:flex;
  width:100%;
  margin:auto;
}

.proceed_button{
  background-color:limegreen;
  padding:5px;
  border:1px solid grey;
  border-radius:6px;
  font-weight:600;
  color:white;
  margin-left:15px;
}

.proceed_button:hover{
  background-color:cornsilk;
  color:black;
}

.cart_display_content{
  display:inline-block;
}

.cart_section_proceed{
  display:flex;
  align-items:center;
  margin-left:25px;
}

.cart_section_table{
  border:1px solid black;
  border-collapse:collapse;
  padding:30px;
  margin:auto;
}

.cart_section{
  margin-left:10px;
  margin-top:50px;
  background-color:lightsalmon;
  padding:30px;
  width:80%;
  margin-right:30px;
  border-radius:15px;
  box-shadow:2px 2px 3px 3px grey;
  height:auto;
}

.cart_section_title{
  font-weight:bold;
  font-size:18px;
  text-align:center;
  margin:30px;
  color:white;
}

.cart_section_row{
  border:1px solid black;
}

.cart_section_data{
  border:1px solid black;
  padding:8px;
}

.cart_section_subtotal{
  text-align:center;
  font-weight:bolder;
  margin:30px;
  color:white;
}


.delivery_image{
  width:250px;
  border-radius:50%;
}

.cart_image{
  height:40px;
  padding:10px;
  border:1px solid transparent;
  transition:0.5s;
}

.cart_image:hover{
  transform: scale(1.2);
}

.emptycart_block,.emptysales_block{
  width:400px;
  margin:auto;
  padding-left:170px;
  height:80vh;
}

.empty-cart-theme{
  margin:5% auto;
  border-radius:50%;
}

.empty-myorder-theme{
  margin:5% auto;
  width:250px;
}

.logged_in_background{
  width:100%;
  background-color:#EDF2F7;
}

.myorders_background{
  margin-top:-20px;
  background-color:#EDF2F7;
}
