.Main_page{
  max-width:800px;
  margin:0 auto;
  font-family:sans-serif;
}

.Add_menu{
  margin:5px;
  margin-top:20px;
  margin-bottom:15px;
  padding:8px;
  background-color:#FF8D27;
}

.Menu_display{
  padding:5px;
}

.Menu_column{
  padding:5px;
}

.Menu_heading{
  margin-bottom:20px;
  margin-top:10px;
  padding:5px;
}

.Menu_heading{
  color:blueviolet;
  text-decoration:underline;
  padding:5px;
}

.title{
  background-color:black;
  color:white;
  font-weight:600;
  font-size:16px;
  margin:15px;
  width:180px;
  margin-left:300px;
  margin-right:50px;
  text-align:center;
  padding:5px;
  border:1px solid transparent;
  border-radius:8px;
  transition: 0.5s;
}

.title:hover{
  transform: scale(1.1);
}

.item{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.price{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:10px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.submit{
  padding-left:8px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
  background-color:#5CDB95;
  border: 1px solid transparent;
  border-radius: 8px;
  color:white;
  font-weight:600;
}

.submit:hover{
  background-color:black;
}

.display_price{
  margin:20px;
  width:120px;
}

.title_and_delete{
  display:flex;
  align-items:center;
}

.menu_delete{
  width:160px;
  visibility:hidden;
}

.edit_menu{
  border:0px solid transparent;
  text-align:center;
  color:navy;
  text-decoration:underline;
  background-color:white;
  visibility:hidden;
  margin-left:20px;
}

.title_and_delete:hover > .menu_delete{
  background-color:lightgray;
  color:red;
  visibility:visible;
}

.title_and_delete:hover > .edit_menu{
  visibility:visible;
}

.Menu_name{
  text-align:center;
  color:#453C52;
  font-size:14px;
  margin:20px;
  margin-left:80px;
  background-color:#AFD275;
  padding:5px 8px;
  border-radius:8px;
  border:1px solid transparent;
}

.item_count{
  width:50px;
  padding-left:20px;
  margin-right:20px;
  cursor: pointer;
}

.Add_menu_block{
  margin:15px;
}

.Adding_menus{
  max-width:800px;
  margin:0 auto;
  padding:5px;
  background-color:#FF8D27;
  max-height:160px;
}

.add_menu{
  margin-bottom:10px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding:5px;
  border-radius:8px;
  width:100px;
  margin:auto;
}

.add_menu_input{
  display:flex;
  align-items:center;
  margin:20px;
  margin-left:230px;
}

.menu_submit{
  margin-left:110px;
}

.menu_label{
  margin-right:10px;
  font-size: 14px;
}

.menu_box{
  font-size:13px;
  padding:8px 10px;
  border:1px solid grey;
  border-radius:5px;
}

.bars_display{
  color:white;
  height:30px;
  margin-left:10px;
}

.logo{
  max-height:80px;
  width:80px;
  border-radius:50%;
  margin-left:-20px;
}

.home_page{
  padding:15px;
  height:200px;
  margin:30px;
}

.cart_image{
  height:30px;
  padding:10px;
  border:1px solid transparent;
  transition:0.5s;
}

.cart_image:hover{
  transform: scale(1.2);
}

.emptycart_block{
  width:400px;
  margin:auto;
  padding-left:170px;
}

.empty-cart-theme{
  margin:5% auto;
  border-radius:50%;
}

.empty-myorder-theme{
  margin:5% auto;
  width:250px;
}

.emptycart_heading{
  font-weight:600;
  font-size:16px;
  margin:20px;
  margin-left:-10px;
}

.emptycart_message{
  font-size:14px;
  margin-left:-60px;
}

.Add_to_cart{
  color:white;
  background-color:limegreen;
  border:1px solid transparent;
  border-radius:5px;
  padding:5px 10px;
}

.Add_to_cart:hover{
  background-color:#DAAD86;;
  color:black;
}

.welcome{
  font-weight:600;
  color:white;
}

.menuitems_show{
  max-width:700px;
  margin:0 auto;
}

.edit_line_row{
  display:flex;
  align-items:center;
  width:650px;
  margin:auto;
}

.edit_name_price{
  padding:5px;
  padding-left:15px;
  font-size:14px;
  border:2px solid lightgrey;
  border-radius:8px;
  margin:5px;
}

.update_button{
  background-color:limegreen;
  padding:5px 10px;
  border:1px solid transparent;
  border-radius:8px;
  color:white;
  margin-left:10px;
  margin-right:10px;
}

.update_button:hover{
  background-color:black;
  color:white;
  font-weight:600;
}

.image-holder{
  border:1px solid transparent;
  border-radius:5px;
  padding:3px;
  padding-left:10px;
  margin:10px;
  background-color:white;
}

.menu-item-image{
  margin:20px;
  margin-left:90px;
  margin-bottom:0px;
  width:150px;
  max-height:150px;
  border:5px solid gray;
  border-radius:10px;
  transition: 0.5s;
}

.menu-item-image:hover{
  transform:scale(1.1);
}

.list_menuitems{
  margin-left:-50px;
}

.menuitemimage{
  margin-left:-20px;
  width:150px;
  border:5px solid gray;
  border-radius:10px;
}
