.cart_display{
  max-width:700px;
  margin:0 auto;
  height:auto;
}

.title_of_page{
  text-align:center;
  color:#453C52;
  background:linear-gradient(rgba(255,255,0,0.4),rgba(0,0,180,0.2));
  font-weight:600;
  padding:5px 10px;
  margin-left:450px;
  margin-right:450px;
  margin-bottom:40px;
  margin-top:-10px;
  border-radius:8px;
}

.Bill{
  text-align:center;
  width:180px;
  color:#E27D60;
  font-weight:600;
  margin:10px;
  font-size:17px;
  padding:5px;
  margin:auto;
  margin-top:20px;
  border-radius:10px;
}

.Remove_cartitem{
  font-size:14px;
  padding:5px 10px;
  border:1px solid transparent;
  border-radius:8px;
  font-weight:600px;
  color:white;
  background-color:limegreen;
  margin:10px;
  margin-left:100px;
}

.Remove_cartitem:hover{
  background-color:#8EE4AF;
  color:black;
  font-weight:600;
}

.cart_item_data{
  font-size:14px;
  width:25%;
  text-align:center;
}

.Confirm_order{
  margin:20px;
  margin-left:300px;
  color:white;
  background-color:limegreen;
  border-radius:8px;
  border:1px solid transparent;
  padding:5px 10px;
}

.Confirm_order:hover{
  background-color:#8EE4AF;
  color:black;
  font-weight:600;
}

.cart_table{
  width:100%;
  margin-left:-100px;
}

.cart_row{
  margin:10px;
}

.cart{
  margin:20px;
  margin-left:300px;
  border-radius:8px;
  border:1px solid transparent;
  padding:5px 10px;
}

.order_display_user{
  padding:5px;
  margin:5px;
  margin-left:50px;
}

.show_order_details{
  padding:5px;
  margin:5px;
}

.button{
  padding:5px 10px;
  margin:10px;
  font-size:12px;
  border:1px solid transparent;
  border-radius:8px;
  background-color:limegreen;
  color:white;
}

.show:hover{
  background-color:skyblue;
  color:black;
}

.delivered:hover{
  background-color:skyblue;
  color:black;
}

.order_items_caption{
  text-shadow:5px 5px 5px red;
  margin:10px;
  text-align:center;
}

.order_items_caption:hover{
  text-decoration:underline;
  text-shadow:5px 5px 5px skyblue;
}

.order_item_data{
  text-align:left;
  margin:10px;
  width:20%;
}

.myorder_name{
  background-color: white;
  border:1px solid transparent;
  margin:10px;
  margin-right:-30px;
}

.name_myorders{
  width:220px;
}

.price_myorders{
  width:130px;
}

.items_myorders{
  width:150px;
}

.myorders_message{
  text-align:center;
  color:red;
  font-size:16px;
  margin:20px;
  font-weight:600;
}

.message_myorders{
  color:cornflowerblue;
}

.order_table{
  width:50%;
  margin:10px;
  margin-left:50px;
}

.order_table_block{
  margin-left:250px;
  margin-right:250px;
  margin-bottom:15px;
  margin-top:20px;
  border:1px solid lightgray;
  box-shadow:3px 3px 3px 3px lightgray;
}

.list_orders_to_admin{
  width:50%;
  margin-left:260px;
}

.search_records{
  display:flex;
  align-items:center;
  margin-left:100px;
}

.from_to_button{
  font-size:14px;
  margin:5px;
  margin-right:10px;
}

.search_button{
  background-color: limegreen;
  font-size:14px;
  color:white;
  padding:5px 10px;
  margin-left:10px;
  border-radius:8px;
  border:1px solid transparent;
}

.search_button:hover{
  background-color:black;
  font-weight:600;
}

.label_to_records{
  color:#453C52;
  font-size:14px;
  font-weight:600px;
  margin-right:5px;
}

.from{
  margin-left:200px;
}

.to{
  margin-left:20px;
}

.in_myorders_cancel{
  margin-left:60px;
  margin-right:20px;
}

.in_myorders{
  margin-left:160px;
}

.Show_order_table{
  margin-left:260px;
  width:50%;
}

.Bill_in_show_details{
  text-align:center;
  text-shadow:2px 2px 2px skyblue;
  padding:5px;
  font-size:16px;
}

.cancel_order{
  padding:5px 10px;
  border:2px solid lightgray;
  border-radius:8px;
  background-color:#8EE4AF;
}

.cancel_order:hover{
  background-color:red;
  color:lightgrey;
  font-weight:600;
}

.my_orders_bill_line{
  display:flex;
  justify-content: space-around;
}
