.cart_display{
  width:100%;
  height:auto;
}

.cart_heading{
  text-align:center;
  color:#453C52;
  margin:20px;
  text-shadow:2px 2px 2px red;
}

.Bill{
  text-align:center;
  width:180px;
  color:#453C52;
  margin:10px;
  font-size:14px;
  padding:5px;
  background-color:cyan;
  margin-left:450px;
  margin-right:450px;
  border-radius:10px;
}

.Remove_cartitem{
  font-size:14px;
  padding:5px 10px;
  border:1px solid transparent;
  border-radius:8px;
  font-weight:600px;
  color:white;
  background-color:limegreen;
  margin:10px;
}

.cart_item_data{
  font-size:14px;
  width:25%;
  text-align:center;
}

.Confirm_order{
  margin:20px;
  margin-left:470px;
  color:white;
  background-color:limegreen;
  border-radius:8px;
  border:1px solid transparent;
  padding:5px 10px;
}

.cart_table{
  width:50%;
  margin-left:260px;
}

.cart_row{
  margin:10px;
}

.cart{
  padding:5px;
  border-radius:8px;
  margin-top:20px;
  margin-left:475px;
}

.order_display_user{
  padding:5px;
  margin:5px;
  margin-left:50px;
}

.show_order_details{
  padding:5px;
  margin:5px;
}

.button{
  padding:5px 10px;
  margin:10px;
  font-size:12px;
  border:1px solid transparent;
  border-radius:8px;
  background-color:limegreen;
  color:white;
}

.show:hover{
  background-color:skyblue;
  color:black;
}

.delivered:hover{
  background-color:skyblue;
  color:black;
}

.order_items_caption{
  text-shadow:5px 5px 5px red;
  margin:10px;
  text-align:center;
}

.order_items_caption:hover{
  text-decoration:underline;
  text-shadow:5px 5px 5px skyblue;
}

.order_item_data{
  width:15%;
  text-align:left;
}

.myorder_name{
  background-color: white;
  border:1px solid transparent;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:20px;
  margin-right:-120px;
}

.order_table{
  width:50%;
  margin:10px;
  margin-left:160px;
}

.order_table_block{
  margin-left:250px;
  margin-right:250px;
  margin-bottom:15px;
  margin-top:20px;
  border:1px solid lightgray;
  box-shadow:3px 3px 3px 3px lightgray;
}

.list_orders_to_admin{
  width:50%;
  margin-left:260px;
}

.search_records{
  display:flex;
  align-items:center;
  margin-left:100px;
}

.from_to_button{
  font-size:14px;
  margin:5px;
  margin-right:10px;
}

.search_button{
  background-color: limegreen;
  font-size:14px;
  color:white;
  padding:5px 10px;
  margin-left:10px;
  border-radius:8px;
  border:1px solid transparent;
}

.label_to_records{
  color:#453C52;
  font-size:14px;
  font-weight:600px;
  margin-right:5px;
}

.from{
  margin-left:200px;
}

.to{
  margin-left:20px;
}

.in_myorders{
  margin-left:60px;
}

.Show_order_table{
  margin-left:260px;
  width:50%;
}

.Bill_in_show_details{
  text-align:center;
  text-shadow:2px 2px 2px skyblue;
  padding:5px;
  font-size:16px;
}
